.container-capitulo {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.introducao2 {
  background-color: #f9cb38;
  font-size: 41px;
  text-align: center;
  margin-top: 63px;
  border-radius: 16px;
  width: 680px;
  height: 52px;
  color: #2b5166;
  font-weight: 600;
}

.licao4 {
  font-size: 41px;
  text-align: center;
  margin-top: 30px;
  width: 253px;
  height: 52px;
  color: #2b5166;
  font-weight: 600;
}
.licao {
  text-align: center;
  width: 1339px;
  text-align: center;
  text-align: justify;
  margin: 0 auto;
  margin-top: 57px;
}

.licao p {
  padding: 10px;
  color: #429867;
}

.lista-licao {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  color: #429867;
}
